<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Upload Receipt</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
<div><h1>Expense Reports - Upload Receipt</h1></div>
	<div>
		<form method="POST" action="/upload" enctype="multipart/form-data">
			<table>
				<tr>
					<td>File to upload:</td>
					<td><input type="file" name="file" id="file" /></td>
				</tr>
				<tr>
					<td>Category:</td>
					<td><select name="category">
							<option value="Grocery">Grocery</option>
							<option value="Restaurants">Restaurants</option>
							<option value="Clothing">Clothing/Jewelry</option>
							<option value="Shopping">Shopping</option>
					</select></td>
				</tr>
				<tr>
					<td>Payment Method:</td>
					<td><select name="payment">
							<option value="Cash">Cash</option>
							<option value="Debit">Debit</option>
							<option value="Credit">Credit</option>
							<option value="Check">Check</option>
					</select></td>
				</tr>
				<tr>
					<td><input type="submit" value="Upload" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>